*{
    font-family: "Great Vibes";
    font-size: 20px;
}

body
{
    background-color: #FF905C;
}

.App {
    text-align: center;
    white-space: pre-wrap;
}

.Sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10px;
    background-color: lightyellow;
    background-image: url("./fruits.png");
}

.FormArea {
    height: 100%;
    width: 100%; 
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    margin-left: 400px;
}

.MenuItem {
    background-color: lightyellow; 
    background-image: url("./fruits.png");
    width: 300px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Great Vibes";
    text-align: right;
    border-radius: 44px 0px 0px 44px; 
    margin-left: 100px;
    background-size: 800%;
}

.MenuItem:hover {
    background-color: #FFFABB;
}

.MenuItem.active {
    background-color: #E86348;
    color: white;
}

#ExploreTab,
#SearchTab,
#RecipesTab,
#IngredientsTab
{
    margin-left: 430px;
    margin-top: 80px;
}

#SearchResultDiv
{
    margin-top: 60px;
}

#ExploreBtn:hover,
#SearchBtn:hover
{
    border: outset; 
}

.center {
  border: none;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.Row
{
    display: flex;
    text-align: center;
}

.AddIngredientBtn:hover
{
    border: outset; 
    border-color: #55C79C;
}

.RemoveRecipeBtn,
.RemoveIngredientBtn
{
    height: 35px;
    width: 35px; 
    border-radius: 80px 80px 80px 80px; 
    font-size: 15px;
    font-weight: bold;
    background-color: #FF534F;
    border-style: none;
    text-align: center;
    position: relative;
}

.RemoveRecipeBtn:hover,
.RemoveIngredientBtn:hover
{
    border: outset; 
    border-color: #E86348;
}

.AddIngredientBtn
{
    height: 35px;
    width: 35px; 
    border-radius: 80px 80px 80px 80px; 
    font-size: 15px;
    font-weight: bold;
    background-color: #69FF9A;
    border-style: none;
    text-align: center;
    position: relative;
}

#ExploreBtn,
#SearchBtn
{
    height: 40px;
    width: 80px; 
    border-radius: 80px 80px 80px 80px; 
    font-size: 15px;
    font-weight: bold;
    background-color: #4FB3Ff; 
    border-style: none;
    text-align: center;
}

#AddIngredientsTable,
.RecipeDisplay,
.RecipesTable,
.IngredientsTable
{
    text-align: center;
    margin-top: 20px;
    border: dotted;
    border-radius: 30px 30px 30px 30px; 
    padding: 25px 25px 25px 25px; 
    border-color: lightyellow;
    border-width: 2px;
    overflow-x: auto;
    overflow-y: auto;
}

.RecipeDisplay
{
    background-color: lightyellow;
    border-color: #FF905C;
}

.Description
{
    text-align: left;
}

.Description p
{
    text-align: center;
}

.IngredientsTable Table
{
    text-align: right;
    width: 100%; 
}

thead
{
    font-weight: bold;
    color: white;
}

#Logo img
{
    height: 50%;
    width: 50%; 
}

#Background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./fruits.png");
    background-size: contain;
    z-index: -1;
    overflow-y: auto;
}


#MainTitle
{
    color: #FF351C;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 6px 6px #fff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
}

input
{
    border-radius: 80px 80px 80px 80px; 
    border: none;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.RecipesTable table
{
    text-align: left;
}

.RecipesTable label
{
    border-radius: 80px 80px 80px 80px; 
    border: none;
    margin: 5px 0px 5px 0px;
    background-color: white;
}

.RecipesTable label:hover
{
    border: outset; 
}

.IngredientsTable td
{
    width: 90%;
}

label
{
    padding-left: 10px;
    padding-right: 10px;
}

.IngredientsTable label
{
    border-radius: 80px 80px 80px 80px; 
    border: none;
    margin: 5px 0px 5px 0px;
    background-color: white;
    text-align: center;
}

.IngredientsTable label:hover
{
    border: outset; 
}

.IngredientName,
.RecipeName
{
    width: 50%; 
    height: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.Add
{
    background-color: #4FB3FF;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px 30px 30px 30px; 
    border-style: none;
}

.Add:hover
{
    border-style: outset;
}

#InstructionsTextArea
{
    text-align: left;
    padding: 10px;
    border-radius: 30px 30px 30px 30px; 
    border-style: none;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#Quantity
{
    width: 70%;
}

#Unit
{
    width: 100%;
}
